@{
    ViewBag.Title = "User Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>User Profile</h2>

<div>
    <p>Xin chào, @User.Identity.Name!</p>
    <p>Email của bạn:</p>
    <a href="@Url.Action("Create", "News")" class="btn btn-primary">Create News</a>
    @if (User.Identity.IsAuthenticated)
    {
        using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { id = "logoutForm" }))
        {
            @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-link">Logout</button>
        }
    }
    else
    {
        <p>Bạn chưa đăng nhập.</p>
    }
</div>
