@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title" class="blog-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 left-blog-pad">
                <h2 id="title">@ViewBag.Title.</h2>
                <h3>@ViewBag.Message</h3>

                <p>Use this area to provide additional information.</p>
            </div>
            </div>
        </div>       
</main>